{% include 'includes/cabecera.html.twig' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ asset('CSS/home.css') }}">
</head>
<body style="background-image: url('{{ asset('IMG/fondo.jpg') }}')">
    <div>
        <div><a href="{{ path('crearPost') }}" id="crear_post">Crear Post</a></div>
    </div>
</body>
</html>
