<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cabecera.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    {% if app.User is not null %}
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <label class="logo">Shockwave</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Amistades</a></li>
            <li><a href="#">Cerrar sesión</a></li>
        </ul>
    </nav>
    {% endif %}
</body>
</html>